$mobile-breakpoint: 480px;
$tablet-breakpoint:768px;
$laptop-breakpoint: 1024px;

.contactWrapper{
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	
	img{
			width: 300px;
			padding-left: 30px;
	}
	
	.mail{
			font-family: 'Assistant';
			color:#397249;
			font-weight: bold;
			padding-left:30px;
	}
	
	.linksContainer {
		padding-right:30px;
		display: flex;
		flex-direction: row;
	li{
			text-decoration: none;
			list-style: none;

			.linkContact{
					color:#397249;
					font-weight: bold;
					font-family: 'Assistant';
					margin-top: 10px;
					padding-right: 20px;
					list-style: none;
					text-decoration: none;
					cursor: pointer;
			}
		}
	}
   
}

.contactTitle{
    width: 300px;
    margin: 50px auto;
    padding-left: 30px;

    @media only screen and (max-width: $tablet-breakpoint) {
    width: 200px;
    }

}


